<!-- views/partials/footer.ejs -->
<br>
<p class="text-center text-muted">2018 <a href="https://busy.org/@cryptofrench" target="_blank">@Cryptofrench</a> || Data fetched from : <a href="https://steemdata.com">https://steemdata.com</a></p>


